.user-list {
  width: 100%;
  height: 100%;
  background: #151515;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #222;
}

.user-list-items {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
