.challenge-card {
  width: 12rem;
  height: 10rem;
  padding: 12px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-left: 5px solid #8884d8;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.complete {
  border-left: 5px solid #0d00ff !important;
}

.challenge-categories {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  padding-bottom: 4px;
}

.challenge-categories::-webkit-scrollbar {
  height: 4px;
}

.challenge-categories::-webkit-scrollbar-thumb {
  background-color: #8884d8;
  border-radius: 3px;
}
.complete-categories::-webkit-scrollbar-thumb{
    background-color: #0d00ff;
}

.category-tag {
  background-color: #8884d8;
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  transition: 0.2s;
}
.complete-tag {
  background-color: #0d00ff;
}

.challenge-name {
  color: #fff;
  font-weight: bold;
  margin: 6px 0;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.challenge-description {
  flex: 1;
  color: #ccc;
  font-size: 0.9rem;
  overflow-y: auto;
  margin-bottom: 6px;
}

.challenge-description::-webkit-scrollbar {
  width: 6px;
}

.challenge-description::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.challenge-timer {
  display: flex;
  justify-content: center;
}
