.authCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;  
  background-color: #001f3f;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 20rem;
  box-shadow: 0 0 20px #ffffff33;
  color: #fff;
}

.authCard input {
  box-sizing: border-box;
}

.toggle-auth-btn span {
    text-transform: none ;
}
.toggle-auth-btn:hover span {
    text-decoration: underline;
}
.toggle-auth-btn {
  outline: none !important; 
  margin: 1rem 0 0 0 !important;
}