.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #252525;
  border-bottom: 1px solid #aaa;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.greeting {
  font-size: 1.5rem;
  margin-left: 2%;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right: 5% !important;
}

.link {
  text-decoration: none;
  color: #aaa;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.logoutButton {
  padding: 0.3rem 0.8rem;
  color: #ccc !important;
  border: none;
  border-radius: 4px;
  letter-spacing: -0.01em;
  cursor: pointer;
  font-size: 1.3rem !important;
  align-items: center !important;
  line-height: 1.5 !important;
  margin-top: 4px !important;
}

.link:hover {
  color: #fff !important;
  background-color: #252525;
  font-weight: bolder !important;
}
.logoutButton:hover {
  color: #fff !important;
  background-color: #252525;
  font-weight: bolder !important;
}

@media (max-width: 600px) {
  .links {
    gap: 1.5rem;
    margin-right: 0 !important;
  }
  .link,
  .logoutButton {
    font-size: 1rem !important;
  }
}
