.user-item {
  padding: 12px 16px;
  background: #1e1e1e;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
}

.user-item:hover {
  background: #333;
}

.user-item-username {
  color: #fff;
  margin: 0;
}

.user-item-type {
  font-size: 0.85rem;
  color: #ccc;
  margin-right: 8px;
}