.user-item {
  padding: 12px 16px;
  background: #1a1a1a;
  border-radius: 5px 5px 0 0;
  margin: 0;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 2px solid #fff;
}

.user-item:hover {
  background: #333;
}

.user-item-username {
  color: #fff;
  margin: 0;
}
