.cate-card {
  padding: 22px;
  text-align: "center";
  cursor: pointer;
  border: 4px solid #ccc;
  transition: 0.2s;
  margin-bottom: 1rem; 
  background-color: #fff;
  color: black;
  border-radius: 3px;
}

.selected{
  border: 4px solid #0080ffff;
}
