.admin-wrapper {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5rem;
}
.users-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.stats-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

@media (max-width: 900px) {
  .admin-wrapper {
    flex-direction: column;
  }

  .users-panel {
    width: 90%;
    max-height: 40vh;
    overflow-y: auto;
    align-self: flex-start;
  }

  .stats-panel {
    width: 90%;
  }
}
