.admin-wrapper {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.users-panel {
  width: 40%;
  height: 100%;
}

.stats-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
/*
@media (max-width: 1004px) {
  .stats-panel {
    width: 100%;
    padding: 10px;
  } 
}
*/